player-connection-mode=Listen
player-connection-guid=3903576836
player-connection-debug=0
player-connection-project-name=My project (9)
player-connection-ip=192.168.246.1
player-connection-ip=192.168.163.1
player-connection-ip=192.168.0.44
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=224e3a4a3d2e42378436bc98f0331ba9
